@charset "UTF-8";

@font-face {
    font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
}

@font-face {
    font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-RegularIt.woff") format("woff");
  font-style: italic;
}

@font-face {
    font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "FontAwesome";
  src: url("../fonts/fontawesome.woff") format("woff");
}

@font-face {
    font-family: "DroidSerif";
  src: url("../fonts/DroidSerif-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
    font-family: "Socialico";
  src: url("../fonts/Socialico.woff") format("woff");
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}

/* Header */
.header {
    width: 100%;
}

.header.fixed {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #fff;
}

.header__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.header-logo {
    display: inline;
    padding-left: 1.6rem;
    color: #3c3d42;
    font-family: "Proxima Nova";
    font-size: 3rem;
    font-weight: 800;
}

.header-nav {
    display: inline;
}

@media (max-width: 920px) {
    .header-nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        z-index: 1;
    }
}

.header-nav.active {
    display: block;
}

/* Nav toggle */
.nav-toggle {
    color: transparent;
    font-size: 0;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 6px;
    left: 90px;
    z-index: 1;
}

@media (max-width: 920px) {
    .nav-toggle {
        display: block;
        top: 13px;
        left: 170px;
    }
}

@media (max-width: 767px) {
    .nav-toggle {
        top: 6px;
        left: 90px;
    }
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .1s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    top: 8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateY(-3px);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateY(3px);
}

.nav-link {
    margin-right: 30px;
    text-decoration: none;
    color: #3c3d42;
    font-size: 1.4rem;
}

@media (max-width: 920px) {
    .nav-link {
        display: block;
        margin: 0;
        padding: 8px 20px;
        font-size: 2.6rem;
    }
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover,
.nav-link.active {
    color: #8eb1c4;
    text-decoration: underline;
}

.contacts {
    padding-top: 15px;
    display: block;
    text-align: center;
}

.contact-icon {
    margin-right: 7px;
}

.contact-link {
    margin-right: 42px;
    text-decoration: none;
    color: #3c3d42;
    font-size: 1.7rem;
    font-weight: 200;
}

.contact-link:hover {
    color: #8eb1c4;
}

.contact-link:last-child {
    margin-right: 1.6rem;
}

/* Intro */
.intro {
    background: #0d68ae url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}

.intro-content {
    width: 490px;
    padding-top: 170px;
    padding-bottom: 275px;
}

@media (max-width: 767px) {
    .intro-content {
        width: 100%;
        height: 100vh;
        text-align: center;
        align-content: center;
        padding: 0;
        padding-top: 30vh;
    }
}

.intro-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

.intro-subtitle {
    font-size: 3.6rem;
    font-weight: 200;
    color: #fff;
    line-height: 1.2;
}

.intro-text {
    margin-top: 45px;
    margin-bottom: 60px;
    font-size: 1.4rem;
    font-weight: 100;
    color: #9dc7d1;
}

@media (max-width: 767px) {
    .intro-text {
        font-size: 2rem;
    }
}

.intro-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 946px;
}

@media (max-width: 1100px) {
    .intro-img {
        width: 625px;
    }
}

@media (max-width: 767px) {
    .intro-img {
        display: none;
    }
}

/* Features */
.features {
    padding-top: 100px;
    padding-bottom: 140px;
    align-items: center;
}

@media (max-width: 767px) {
    .features {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.title-center {
    margin: 0 auto 65px;
    text-align: center;
    max-width: 768px;
}

@media (max-width: 767px) {
    .title-center {
        margin-bottom: 20px;
    }
}

.title {
    color: #636c6c;
    font-weight: 700;
    font-size: 3.6rem;
    margin-bottom: 15px;
}

.description {
    color: #afb8b8;
    font-family: "MyriadPro";
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Tabs */
.tabs {
    display: flex;
}

.tabs__nav {
    width: 500px;
}

@media (max-width: 1000px) {
    .tabs__nav {
        width: 100px;
    }
}

.tabs__nav-btn {
    padding: 31px;
    position: relative;
    color: #9fa9a9;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 200;
    border: 0;
    outline: 0;
}

@media (max-width: 1000px) {
    .tabs__nav-btn {
        padding: 25px;
        font-size: 0;
        color: transparent;
    }
}

@media (max-width: 767px) {
    .tabs__nav-btn {
        padding: 15px;
    }
}

.tabs__nav-btn:after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #dbe2e2;
    position: absolute;
    right: 0;
    bottom: 0;
}

.tabs__nav-btn.active.item-desc {
    color: #636c6c;
    font-weight: 300;
}

.tabs__nav-btn.active:after {
    width: 11px;
    background-color: #5dca88;
    right: -5px;
}

@media (max-width: 767px) {
    .tabs__nav-btn.active:after {
        width: 5px;
        right: -2px;
    }
}

.tabs__nav-btn:hover {
    background-color: #f5eeee;
    cursor: pointer;
}

.tabs__nav-btn:hover.item-desc {
    color: #636c6c;
    font-weight: 300;
}

.tabs__nav-btn:hover:after {
    content: "";
    width: 11px;
    height: 100%;
    background-color: #5dca88;
    position: absolute;
    right: -5px;
    bottom: 0;
}

@media (max-width: 767px) {
    .tabs__nav-btn:hover:after {
        width: 5px;
        right: -2px;
    }
}

.block-icon {
    font-family: "FontAwesome";
    font-size: 4.8rem;
    color: #9fa9a9;
}

.item-img {
    margin-right: 40px;
    width: 50px;
    height: 45px;
}

@media (max-width: 1000px) {
    .item-img {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .item-img {
        width: 20px;
        height: 15px;
    }
}

.tabs__content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.tabs__item {
    display: none;
}

@media (max-width: 767px) {
    .tabs__item {
        padding-left: 30px;
    }
}

.tabs__item.active {
    display: block;
}

.tabs__item-img {
    display: block;
    width: 204px;
    height: 171px;
    margin: 110px auto 80px;
}

@media (max-width: 767px) {
    .tabs__item-img {
        width: 100px;
        height: auto;
        margin: 10px auto;
    }
}

.tabs__item h3 {
    font-weight: 700;
    font-size: 2.4rem;
    color: #636c6c;
    margin-bottom: 30px;
}

.tabs__item p {
    font-family: "MyriadPro";
    font-size: 1.6rem;
    color: #afb8b8;
    line-height: 1.5;
}

/* Product-feature */
.product-feature {
    padding-top: 160px;
    padding-bottom: 205px;
    background-color: #f2f9fe;
}

@media (max-width: 1100px) {
    .product-feature {
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

.product-title {
    position: relative;
    width: 500px;
    color: #5dca88;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 55px;
}

@media (max-width: 1100px) {
    .product-title {
        width: auto;
    }
}

.product-title:after {
    content: "";
    width: 104px;
    height: 2px;
    background-color: #949c9c;
    position: absolute;
    left: 0;
    bottom: -20px;
}

@media (max-width: 1100px) {
    .product-title:after {
        left: 40%;
    }
}

.product-container {
    width: 430px;
    color: #8c9494;
    font-family: "MyriadPro";
}

@media (max-width: 1100px) {
    .product-container {
        width: auto;
    }
}

.product-subtitle {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 35px;
}

.product-descr {
    margin-bottom: 90px;
    line-height: 1.5;
}

.product-feature-screen {
    position: absolute;
    right: 142px;
    top: -80px;
}

@media (max-width: 1100px) {
    .product-feature-screen {
        display: none;
    }
}

@media (max-width: 1100px) {
    .product-left {
        width: 65%;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
}

/* Gallery */
.gallery {
    padding-top: 100px;
    padding-bottom: 110px;
}

@media (max-width: 767px) {
    .gallery {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

.gallery-items {
    padding: 0 50px;
}

.gallery-block {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.gallery-img {
    width: 296px;
    height: 622px;
}

@media (max-width: 767px) {
    .gallery-img {
        width: 150px;
        height: auto;
    }
}

.gallery-desc {
    margin-top: 45px;
    padding: 0 25px;
    width: 300px;
    text-align: center;
    font-size: 1.4rem;
    font-family: "MyriadPro";
    color: #8c9494;
}

@media (max-width: 767px) {
    .gallery-desc {
        width: 200px;
        font-size: 2rem;
    }
}

.slick-arrow {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    border: 0;
    background: none;
    outline: none;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(45deg);
}

.slick-prev {
    left: -20px;
    transform: rotate(-90deg);
}

.slick-next {
    right: -20px;
    transform: rotate(90deg);
}

/* Product-geature */
.product-geature {
    display: flex;
    padding-top: 100px;
    padding-bottom: 265px;
    background-color: #f2f9fe;
}

@media (max-width: 1100px) {
    .product-geature {
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

.product-geature-screen {
    position: absolute;
    left: 20px;
    top: 0;
}

@media (max-width: 1100px) {
    .product-geature-screen {
        display: none;
    }
}

.product-right {
    float: right;
    margin-right: 75px;
}

@media (max-width: 1100px) {
    .product-right {
        width: 65%;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
}

/* testimonials */
.testimonials {
    margin: 100px 0;
    padding: 0 50px;
}

.testimonials-title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #636c6c;
}

.testimonials__item {
    text-align: center;
}

.user {
    margin: 30px auto;
}

.testimonials-desc {
    color: #8c9494;
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 2.4rem;
    line-height: 1;
}

.testimonials-ps {
    margin: 25px auto 40px;
    color: #5dca88;
    font-family: "MyriadPro";
    font-size: 2.4rem;
}

.slick-dots li button:before {
    font-size: 11px;
}

/* newsletter */
.newsletter {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #f3f5f5;
    text-align: center;
}

.newsletter-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: #8c9494;
}

.newsletter-title img {
    margin-right: 20px;
}

.form-subscribe {
    position: relative;
}

.input {
    width: 70%;
    margin-top: 35px;
    padding: 15px 180px 15px 50px;
    border-radius: 80px;
    font-family: "Proxima Nova";
    font-size: 2.4rem;
    font-weight: 400;
    font-style: italic;
    color: #5dca88;
    border: 2px #bbc3c2 solid;
    outline: 0;
}

@media (max-width: 767px) {
    .input {
        width: 95%;
    }
}

.input::-moz-placeholder {
    color: #8c9494;
}

.input:-ms-input-placeholder {
    color: #8c9494;
}

.input::placeholder {
    color: #8c9494;
}

.input:focus {
    background-color: #eee;
}

.btn-submit {
    padding: 19px 50px;
    position: absolute;
    right: 15%;
    bottom: 0;
    font-family: "Proxima Nova";
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 80px;
    background-color: #5dca88;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .btn-submit {
        left: inherit;
        right: 2.5%;
    }
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #378656;
}

.btn-submit:active {
    background-color: #146935;
}

/* Footer */
.footer {
    padding-top: 75px;
    padding-bottom: 40px;
    background-color: #2d312f;
}

.footer-block {
    text-align: center;
}

.footer-title {
    color: #8c9494;
    font-family: "MyriadPro";
    font-size: 2.4rem;
    font-weight: 300;
}

.socialico-link {
    font-family: "Socialico";
    font-size: 6rem;
    line-height: 1.5;
    color: #5d6461;
    text-decoration: none;
}

.socialico-link:hover {
    color: #2f7e5c;
}

.header-links {
    margin-top: 45px;
}

.header-link {
    margin-right: 10px;
    font-family: "MyriadPro";
    font-size: 1.4rem;
    color: #8c9494;
    text-decoration: none;
}

.header-link:last-child {
    margin-right: 0;
}

.header-link:hover {
    color: #2f7e5c;
}

/* Container */
.container {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
    position: relative;
}

.container--padding-left {
    padding-left: 30px;
}

/* Btn */
.btn {
    padding: 15px 55px;
    font-family: inherit;
    color: #636c6c;
    border: 3px solid rgba(99, 108, 108, 0.5);
    border-radius: 35px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s linear, border-color .2s linear;
}

.btn.white {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}

.btn:hover {
    color: #9fa3ce;
    border-color: #7f85cb;
}

@media (max-width: 767px) {
    html {
        font-size: 5px;
    }

    .container--padding-left {
        padding-left: 0;
    }
}
